body {
  font-family: "Baloo Da 2", cursive;
}

.App {
  text-align: center;
  padding: 0 30px;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navlist {
  list-style: none;
}

.navlinks {
  display: inline-block;
  margin: 0 20px;
}

.navlinks a {
  color: white;
  text-decoration: none;
}

.navlinks a.active {
  color: green;
}

.stats-wrapper h2,
.stats-wrapper h3 {
  margin: 5px 0;
}

.stats-wrapper div:first-child {
  color: blue;
}

.stats-wrapper div:nth-child(2) {
  color: green;
}

.stats-wrapper div:nth-child(3) {
  color: red;
}

.stats-wrapper p {
  font-size: 18px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
  margin-bottom: 20px;
  padding: 15px 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
  box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
}

table {
  width: 1200px;
  margin: 30px auto;
  text-align: left;
  border: 1px solid black;
  font-size: 16px;
}

td {
  padding: 8px 5px;
  text-align: center;
}

thead tr {
  background-color: black;
  color: white;
  font-size: 18px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(214, 214, 214);
}

td:first-child {
  text-align: left;
}

.world-stats div:first-child {
  color: green;
}

.world-stats div:nth-child(2) {
  color: red;
}

.world-stats div:nth-child(3) {
  color: black;
}

.search-results {
  display: flex;
  align-content: center;
}

.country-stats {
  flex-basis: calc(100%/3);
  background: linear-gradient(45deg, #d6f9ff 0%, rgb(214, 214, 214) 100%);
  margin-right: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
  box-shadow: 10px 10px 5px 0px rgba(219, 219, 219, 1);
}

.country-stats h3:nth-child(2) {
  color: green;
}

.country-stats h3:nth-child(3) {
  color: blue;
}

.country-stats h3:nth-child(4) {
  color: red;
}

.searchbar form {
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 75%;
  height: 30px;
  font-size: 18px;
  padding: 0 0 0 5px;
}

.searchbar button {
  height: 34px;
}